/*Variables*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600)

$smartphonesPortrait: 435px
$smartphonesLandscape: 736px
$ipads: 768px
$color_text: #6b6b6b
$general_font: 'Open Sans', sans-serif

/* Global classes */
.removeStyleTagA
  text-decoration: none

.uppercase
  text-transform: uppercase

.font-family
  font-family: $general_font
  font-weight: 300

.p
  font-size: 19px
  @extend .font-family

.hr-border
  border-bottom: 2px solid #acacac
  display: block
/* Mixins */

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -o-border-radius: $radius
  -ms-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

@mixin box-shadow($shadow...)
  -webkit-box-shadow: $shadow
  -o-box-shadow: $shadow
  -ms-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow

@mixin transition($transition...)
  -moz-transition: $transition
  -o-transition: $transition
  -ms-transition: $transition
  -webkit-transition: $transition
  transition: $transition

@mixin transform($transform...)
  -moz-transform: $transform
  -o-transform: $transform
  -ms-transform: $transform
  -webkit-transform: $transform
  transform: $transform

@mixin animation($transition...)
  -moz-transition: $transition
  -o-transition: $transition
  -ms-transition: $transition
  -webkit-transition: $transition
  transition: $transition

/* General Styles */
body
  @extend .font-family

.custom-inline
  padding: 0px
  margin: 0px
  display: table-cell
  width: auto
  text-align: right
  vertical-align: middle
  & > li
    padding: 0px
    margin-left: 22px
    @extend .uppercase
    &:last-child
      margin-left: 50px
    &:first-child
      margin-left: 0px
    .permalink
      color: $color_text
      font-size: 14px
      @extend .removeStyleTagA

.nav-menu
  height: 102px
  display: table
  width: 100%

.wrap-search
  display: inline-block
  background-color: #00adef
  @include border-radius(50%)
  @include transition(border-radius .1  s)
  .search_input
    max-width: 0px
    display: inline-block
    vertical-align: super
    line-height: 0
    @include border-radius(15px)
    border: none
    overflow: hidden
    margin: 0px -10px 0px 0px
    @include transition(max-width 1s, margin 1s)
  .zoom_search
    padding: 10px
    font-size: 20px
    color: #FFF
    &:hover
      cursor: pointer

.wrap-search.opened
  @include border-radius(20px)
  @include transition(border-radius 1s)
  .search_input
    max-width: 200px
    margin: 0px 0px 0px 10px
    padding: 4px

.banner
  .wrap-static-slide
    max-height: 335px
    height: 335px
    background-color: #ffba00
  .wrap-sliders
    height: 548px
    background-color: #fec500
  .line_bottom
    border-top: 15px solid #ffde00

.nosotros_block
  margin-top: 112px
  .picture
    padding-right: 50px
  .info_company
    padding-left: 50px
    color: $color_text


h3.title_company, .title_company
  font-size: 25px
  @extend .uppercase
  @extend .font-family
  margin: 0px 0px 20px 0px

.info_company
  p
    font-size: 19px
    &:last-child
      margin-bottom: 0px

.flex
  display: flex
  align-items: center

.servicios_block
  margin-top: 100px

.text-box
  max-width: 520px
  margin-bottom: 40px
  p
    @extend .p

.column-service
  position: relative
  display: inline-block
  overflow: hidden
  @include border-radius(50%)
  img
    @include border-radius(50%)
    @include transition(border 1s .5s)
    border: 1px solid #00adef
    position: relative
    z-index: 3
    &:hover
      border: 1px solid transparent
      cursor: pointer
      & +.rotateHoverAnimation
        opacity: 1
        @include transform(rotate(1080deg))
    &+.rotateHoverAnimation
      @include border-radius(50%)
      @include transition(opacity 1s, transform 10s)
      @include transform(rotate(0deg))
      border-top: 1px solid #00adef
      border-bottom: 1px solid #00adef
      position: absolute
      height: 100%
      width: 100%
      top: 0px
      left: 0px
      z-index: 1
      opacity: 0

div.box-service
  display: inline-block
  width: auto
  float: none

.text-service
  max-width: 310px
  width: 100%
  margin-top: 50px
  & h2
    font-size: 20px
    @extend .font-family
    @extend .uppercase
    margin: 0px 0px 10px 0px
    color: $color_text
  & .info-box
    @extend .p
    @extend .font-family
    color: $color_text
    padding: 0px 5px

.box-title
  & h2
    font-size: 25px
    margin: 0px
    @extend .uppercase
  & h3
    font-size: 20px
    margin: 0px
    display: inline-block
    @extend .uppercase
  .ul-inline
    display: inline-block
    color: $color_text
    font-size: 20px
    margin: 0px 0px 0px 5px
    & li
      padding: 0px
    & a
      padding-left: 0px
      padding-right: 5px
      margin-right: 5px
      border-right: 1px solid $color_text
      @extend .removeStyleTagA
      @include transition(color 1s)
      @extend .font-family
      @extend .uppercase
      color: $color_text
      &:hover
        color: #00adef
    & li:last-child a
      padding-right: 0px
      margin-right: 0px
      border-right: none

.productos_block
  margin-top: 115px

.wrap_products
  margin-top: 65px
  & > div:nth-child(1), & > div:nth-child(2)
    margin-bottom: 25px
  .product-box
    border: 1px solid #e3e3e3
    max-width: 270px
    position: relative
    @include transition(border .5s)
    @include box-shadow(0px 5px 10px -4px #ececec)
    &
      figure
        overflow: hidden
        img
          @include transform(scale(1))
          @include transition(transform .5s)
    &:hover
      figure > img
        @include transform(scale(1.1))
    &.selectable-compared
      cursor: pointer
      &.active, &:hover
        border: 1px solid #000
        .icon
          opacity: 1
      &:hover:not(.active)
        .icon
          opacity: .5
    .icon
      opacity: 0
      position: absolute
      font-size: 12px
      top: 8px
      right: 10px
      color: #FFF
      background-color: #000
      padding: 4px
      @include border-radius(50%)
      @include transition(opacity .5s, border .5s, background-color .5s)
    .controls-box
      height: 50px
      background-color: #00adef
      display: table
      width: 100%
      .view
        height: inherit
        width: 170px
        display: table-cell
        vertical-align: middle
        text-indent: 20px
        a
          color: #FFF
          font-weight: bold
          @extend .uppercase
          @extend .removeStyleTagA
      .subControls
        width: auto
        display: table-cell
        height: inherit
        .heart, .save
          width: 50%
          color: #FFF
          height: 100%
          float: left
          text-align: center
          cursor: pointer
          i
            position: relative
            top: 50%
            display: block
            width: 100%
            font-size: 2rem
            @include transform(translateY(-50%))
        .heart
          background-color: #acacac
          i
            &:hover
              &:after
                display: block
              &:before
                display: none
            &:after
              content: "\e005" !important
              color: red
              display: none
        .save
          background-color: #faa21b
          i
            &:hover
              color: #00ADEF

.brands-block
  margin-top: 115px
  .wrap-carousel
    border: 1px solid #ebebeb
  .title-brand
    h2
      @extend .uppercase
      @extend .font-family
      font-size: 25px
      margin: 0px 0px 25px 0px
      padding: 0px
  .brand-info
    max-width: 550px
    margin: 0 auto
    p
      @extend .p

.border
  border: 1px solid black

.footer-block
  margin-top: 100px
  background-color: #f7f7f7
  .footer-section
    height: 475px
    .form-title
      margin: 0px 0px 50px 0px
      padding-bottom: 0px
      padding-top: 0px
      @extend .uppercase
      @extend .font-family
    .wrap-footer
      position: relative
      top: 50%
      @include transform(translateY(-50%))
  .subfooter
    background-color: #353d43
    height: 95px
    position: relative
    .copyright
      @extend .p
      color: #FFF
      display: inline-block
      position: absolute
      top: 50%
      left: 0
      right: 0
      @include transform(translateY(-50%))

.address
  max-width: 415px
  width: 100%
  background-color: #353d43
  padding: 20px
  .sociales
    line-height: 1
    margin: 10px 0 8px
    .btn-circle
      position: relative
      padding: 15px
      background-color: #FFF
      border-radius: 50%
      display: inline-block
      margin-left: 15px
      @include transition(background-color .5s)
      &:hover
        background-color: #00ADEF
        i
          color: #FFF
      &:first-child
        margin-left: 0px
      i
        color: #353d43
        position: absolute
        top: 50%
        left: 0
        right: 0
        margin: auto
        text-align: center
        @include transform(translateY(-50%))
  .phone-number
    color: #FFF
    margin: 0px
    padding: 0px
    @extend .font-family
    font-size: 26px
  .address-info
    color: #FFF
    font-size: 14px
    margin-bottom: 0px
    @extend .font-family

.form-block
  .field
    margin-bottom: 12px
    border: 1px solid #4f565b
    background-color: #FFF
    @include border-radius(2px)
    &:focus
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 162, 27,.6))
  textarea.field
    max-height: 65px
    resize: none
  .btn-form
    max-width: 85px
    width: 100%
    height: 42px
    border: 1px solid #4f565b
    color: #6b6b6b
    @extend .uppercase

.all-products-block
  padding-top: 120px
  .controls-filters
    @extend .font-family
    @extend .uppercase
    font-weight: normal
    color: #898989
    h1, h2, h3, h4, h5, h6, ul.ul-inline
      display: inline-block
      font-size: 20px
      font-weight: normal
    .controls
      font-size: 20px
      .wrap-form
        width: 100%
        > label
          float: left
          width: 110px
          @extend .font-family
        .wrap-select
          width: auto
          overflow: hidden
          @extend .font-family
  .custom-btn
    background-color: #000
    color: #FFF
    @extend .font-family
    @extend .uppercase
    @include border-radius(0px)
    font-weight: 600
    font-size: 20px
  .wrap_products
    margin-top: 0px
    .wrap-group-products
      margin-top: 80px
      overflow: hidden
      &:first-child
        margin-top: 60px
      &:empty
        margin-top: 0px
        border: 1px solid blue

.single-product-block
  margin-top: 180px
  .wrap_products
    margin: 0px
    .product-elastic-box
      max-width: 440px
      width: 100%
      margin: 0 auto
      .figcaption
        padding: 0px 15px 20px
        *
          margin: 0px
          color: #acacac
          @extend .font-family
          font-size: 25px
          font-weight: bold
        .price
          color: #00adef
      .controls-box
        .view
          width: 75%
  .list-attr-item
    .attr-item
      @extend .font-family
      font-size: 20px
      color: #acacac
      &.title-attr
        *:not(span)
          margin: 0px 0px 25px
          font-size: 31px
      &.info-attr
        padding-top: 25px
        .state
          padding-bottom: 25px
          .stock
            color: #00adef
      &.brand-attr
        padding-top: 25px
        .text-line
          padding: 0px 15px
        .optionBuy
          > div:first-child
            margin-bottom: 25px
        .features
          border-top: 1px solid #acacac
          border-bottom: 1px solid #acacac
          padding: 15px 0px
          color: #666666
          @extend .uppercase

// Media Queries for Devices

@media only screen and (max-device-width: $ipads) and (orientation: portrait)
  .nosotros_block
    .picture
      padding-right: 15px

  .nosotros_block
    .info_company
      padding-left: 15px
      p
        font-size: 14px
      .title_company
        font-size: 18px
        margin-bottom: 10px

  .servicios_block
    .text-box
      max-width: none
    .box-service
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0px
      .text-service
        max-width: none

  .productos_block
    .box-title
      h2, h3
        font-size: 16px
      .ul-inline
        font-size: 14px
  .footer-block
    margin-top: 20px
    .footer-section
      height: auto
      .wrap-footer
        top: 0px
        @include transform(translateY(0%))
        .elements-box
          & > div
            margin: 10px 0px
          .address
            max-width: none
        .form-block
          .form-group
            margin: 0px
      .wrap-form-title
        .form-title
          margin: 20px 0px 10px
    .subfooter
      height: auto
      padding: 10px 0px
      .copyright
        position: relative
        top: 0px
        @include transform(translateY(0%))

@media only screen and (max-device-width: $smartphonesPortrait)
  .nosotros_block
    margin-top: 20px
    .flex
      display: block
      .info_company
        margin-top: 20px
  .servicios_block, .productos_block
    margin-top: 20px
    padding-top: 20px
    border-top: 2px solid $color_text
    .wrap_products
      & > div
        margin: 15px 0px 0px 0px
        &:first-child
          margin: 0px
  .brands-block
    margin-top: 20px
  .footer-block
    .subfooter
      font-size: 100%
      .copyright
        font-size: 1.3rem

@media only screen and (max-device-width: $smartphonesLandscape) and (min-device-width: 567px) and (orientation: landscape)
  .productos_block
    .wrap_products
      & > div
        width: 50%

@media only screen and (max-device-width: $smartphonesLandscape) and (orientation: landscape)
  .nosotros_block
    margin-top: 20px
    .flex
      display: block
      & > div
        padding: 0px 15px
      .picture
        margin-bottom: 20px
  .servicios_block, .productos_block, .brands-block
    margin-top: 40px
  .productos_block
    .wrap_products
      & > div
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0px
// Media Queries for PC, laptops